@charset "utf-8";
/* CSS Document */

/*Heading Format*/
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #060;
	text-align: center;
}

/*Paragraph Format*/
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	text-transform: none;
	color: #FFF;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: left;
	white-space: normal;
}

.important {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FC3;
	font-weight: bolder;
}

.caption {
	text-align: center;
}
